body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000;
    color: #dfdfdf;
    margin: 0;
    overflow: hidden;
}

.video-container {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    width: calc(100vw - 60px);
    height: calc(100vh - 20px);
    overflow: hidden;
}

.video-area {
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.text-area {
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    justify-content: start;
}

.text {
    font-size: 60px;
    font-weight: bold;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.audio {
    display: none;
}